body{

}
header{

padding: 1%;
}

.menu{
	display:inline-block ;
	vertical-align: top;
	padding-top: 54px;
	margin-left: 116px;
}
.menuul li{
display: inline-block;
vertical-align: top;
text-align: center;
font-size: 20px;
font-family: arial;
font-weight: bold;
cursor: pointer;
color: rgb(0 20 54);
border: 2px solid red;
border-radius: 10px;
height: 32px;
width: 84.1px;
padding-top: 9px;
margin-top: -9px;
transition: 0.3s all ease-in;
}
.menuul li:hover{
	background:rgb(0 20 54);
	color: rgb(255 84 0) ;
	box-shadow: 1px 1px 3px 3px rgb(255 84 0);
}
header img{
	width: 5%;
	display: inline-block;
	vertical-align: top;

width: 8%;
margin-left: 111px;
}
.location{
	display: inline-block;
	vertical-align: top;
	margin-top: 53px;
height: 55px;
padding: 0;
font-size: x-large;
background: rgb(0 20 54);
color: white;
border: 2px solid rgb(255 84 0);
border-radius: 7px;
transition: 0.5s all ease-in;
font-family: arial;
padding-left: 22px;
width: 439.667px;
margin-left: 107px;
}
.location:hover{
	background:rgb(255 84 0) ;
	color: rgb(0 20 54);
	border: 2px solid rgb(0 20 54);
	outline: none;
	box-shadow: 1px 1px 3px 3px rgb(255 84 0);
}
.search{
	display: inline-block;
	vertical-align: top;
	height: 57px;
margin-top: 54px;
width: 116px;
border: 2px solid rgb(0 20 54);
border-radius: 6px;
margin-left: 5px;
background: rgb(255 84 0);
color: rgb(0 20 54);
font-size: 28px;
font-family: arial;
font-weight: lighter;
transition: 0.3s all ease-in;
}
.search:hover{
	background: rgb(0 20 54);
color: white;
border: 2px solid rgb(255 84 0);
box-shadow: 1px 1px 3px 3px rgb(0 20 54);
}
/*###################################### end header*/
.welcom{
background: red;
width: 1316px;
margin: 0 auto;
padding: 2%;
background-image: url(../images/delivery-slip-and-fall.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 500px;
border: none;
border-radius: 10px;
}
.to{
font-size: 57px;
font-family: arial;
font-weight: initial;
color:rgb(0 20 54) ;
margin-top: 29px;
background: #494d4105;
width: 402px;
margin-top: 93px;
}
.scooter{
	font-size: 50px;
margin-top: -37px;
margin-bottom: 0px;
font-family: arial;
font-weight: initial;
color: rgb(255 84 0);
background: #494d4105;
width: 500px;
}
.frsthr{
width: 500px;
margin-left: 0px;
margin-top: 150px;
}
.deleivery{
	border: 1px solid black;
font-size: 30px;
width: 39px;
height: 30.4px;
padding: 4px;
margin-top: 0px;
margin-bottom: 0px;
display: inline-block;
vertical-align: top;
cursor: pointer;
color: rgb(255 84 0);
}
.anyway{
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
font-size: 22px;
font-family: arial;
}
/*######################################### end first section*/

.about{
margin-left: 63px;
width: 1376px;
margin-top: 50px;
padding: 1%;
}
.divabout{
display: inline-block;
vertical-align: top;
width: 50%;
}
#about{
font-size: 45px;
font-family: arial;
font-weight: revert-layer;
margin-left: 17px;
margin-top: 98.35px;
color: inherit;
}
.babies{
	font-size: 10px;
font-family: arial;
font-weight: lighter;
margin-top: -21px;
margin-bottom: 0px;
margin-left: 17px;
}
.paragabout{
	width: 439px;
margin-top: 59px;
margin-left: 17px;
font-size: 15px;
font-family: arial;
font-weight: lighter;
letter-spacing: 0px;
word-spacing: 1px;
}
.shipnow{
	width: 117px;
padding-left: 0px;
margin-left: 17px;
height: 40px;
font-family: arial;
background: rgb(255 84 0);
border: 2px solid rgb(0 20 54);
margin-top: 27px;
cursor: pointer;
border-radius: 10px;
transition: 0.5s all ease-in;
}
.shipnow:hover{
	background: rgb(0 20 54);
	color:rgb(255 84 0) ;
	box-shadow: 1px 1px 3px 3px rgb(255 84 0);
}

/*############*/
.shippingman{
display: inline-block;
vertical-align: top;
}
.imgman{
	height: 518px;
border-radius: 20px;
margin-right: 0px;
margin-left: 30px;
}
/*##########################################333 end section about*/
.secsec{
	width: 1347px;
margin-left: 98px;
border-radius: 10px;
	background-image: url(../images/BUSINESS-CARD2.png);
	height: 550px;
	background-size: cover;
background-repeat: no-repeat;
margin-top: 38px;

}
.Efficient{
	width: 100%;
height: 550px;
background: #000000e5;
}
.honeEfficient{
	font-size: 50px;
color: white;
font-family: arial;
font-weight: revert-layer;
margin-bottom: 0px;
margin-top: 48.5px;
padding-top: 9%;
margin-left: 139px;
}
.fast{
	color: white;
	margin-left: 142px;
font-size: 11px;
font-family: arial;
font-weight: lighter;
margin-top: 17.63px;
}
.pargscooter{
color: white;
width: 500px;
margin-left: 140px;
margin-top: 66px;
font-family: arial;
font-weight: lighter;
font-size: 15px;
display: inline-block;
vertical-align: top;
}
.speed{
	display: inline-block;
vertical-align: top;
color: white;
width: 416px;
font-family: arial;
margin-top: 68px;
margin-left: 70px;
font-size: 15px;
font-weight: lighter;
}
.allprices{
	margin-right: 169px;
margin-left: 133px;
margin-top: 50px;
width: 120px;
height: 37px;
background: rgb(255 84 0);
border: 2px solid rgb(0 20 54);
cursor: pointer;
border-radius: 10px;
transition: 0.5s all ease-in;
}
.allprices:hover{
	background: rgb(0 20 54);
	color:rgb(255 84 0) ;
	box-shadow: 1px 1px 3px 3px rgb(255 84 0);
}
/*##################################end three section*/
.freehone{
	position: absolute;
	  left: 115px;
  font-size: 293px;
  top: 784px;
  bottom: 0px;
  position: absolute;
  color: rgba(0, 24, 54, 0.06);
}
/*###################################################*/
.service{
	width: 1350.2px;
margin-left: 96px;
margin-top: 45px;
}
.divser{
display: inline-block;
vertical-align: top;
width: 50%;
}
.honeservise{
  margin-left: 0px;
  margin-top: 37px;
  font-size: 50px;
  font-family: arial;
  font-weight: revert-layer;
}
.quality{
font-size: 15px;
font-family: arial;
font-weight: lighter;
margin-top: -23px;
margin-left: 0px;
margin-bottom: 0px;
}
/*############*/
.first{
display: inline-block;
vertical-align: top;
margin-top: 40px;
}
.car{
display: inline-block;
vertical-align: top;
font-size: 30px;
color: rgb(255 84 0);
}
.mill{
	display: inline-block;
vertical-align: top;
font-size: 13px;
margin-top: 36px;
margin-bottom: 0px;
font-family: arial;
font-weight: lighter;
color:rgb(0 20 54);
}
/*############*/
.last{
display: inline-block;
vertical-align: top;
margin-left: 104px;
margin-top: 41px;
}
.point{
display: inline-block;
vertical-align: top;
font-size: 30px;
color: rgb(255 84 0);
}
.mile{
	display: inline-block;
vertical-align: top;
font-size: 13px;
margin-top: 36px;
margin-bottom: 0px;
font-family: arial;
font-weight: lighter;
color:rgb(0 20 54);
}
/*############*/
.next{
display: inline-block;
vertical-align: top;
margin-left: 0px;
margin-top: 0px;
}
.hand{
display: inline-block;
vertical-align: top;
font-size: 30px;
color: rgb(255 84 0);
}
.day{
	display: inline-block;
vertical-align: top;
font-size: 13px;
margin-top: 36px;
margin-bottom: 0px;
font-family: arial;
font-weight: lighter;
color:rgb(0 20 54);
}
/*##############*/

.ware{
display: inline-block;
vertical-align: top;
margin-top: 0px;
margin-left: 163px;
}
.house{
display: inline-block;
vertical-align: top;
font-size: 30px;
color: rgb(255 84 0);
}
.houses{
	display: inline-block;
vertical-align: top;
font-size: 13px;
margin-top: 36px;
margin-bottom: 0px;
font-family: arial;
font-weight: lighter;
color:rgb(0 20 54);
}
/*###########*/
.money{
display: inline-block;
vertical-align: top;
margin-left: 0px;
margin-top: 0px;
}
.bill{
display: inline-block;
vertical-align: top;
font-size: 30px;
color: rgb(255 84 0);
}
.bank{
	display: inline-block;
vertical-align: top;
font-size: 13px;
margin-top: 36px;
margin-bottom: 0px;
font-family: arial;
font-weight: lighter;
color:rgb(0 20 54);
}
/*###########*/
.bulk{
display: inline-block;
vertical-align: top;
margin-left: 78px;
margin-top: 0px;
}
.boxes{
display: inline-block;
vertical-align: top;
font-size: 30px;
color: rgb(255 84 0);
}
.shipment{
	display: inline-block;
vertical-align: top;
font-size: 13px;
margin-top: 36px;
margin-bottom: 0px;
font-family: arial;
font-weight: lighter;
color:rgb(0 20 54);
}
.contact{
margin-top: 45px;
margin-left: 0px;
margin-right: 72px;
width: 150px;
height: 47px;
background: rgb(255 84 0);
border: 2px solid rgb(0 20 54);
cursor: pointer;
border-radius: 10px;
transition: 0.5s all ease-in;
}
.contact:hover{
	background: rgb(0 20 54);
	color:rgb(255 84 0) ;
	box-shadow: 1px 1px 3px 3px rgb(255 84 0);
}

.divimgser{
display: inline-block;
vertical-align: top;
  margin-left: 107px;
}
.scoterimg{
width: 533px;
margin-left: 31px;
}
/*######################################## end section services*/

footer{
	background-image: url(../images/cover.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
	background-position: center;
}
.divfooter{
	width: 100%;
	height: 350px;
background: #000000e0;
}
.sitemap{
	display: inline-block;
	vertical-align: top;
	margin-left: 250px;
margin-top: 78px;
}
.honesite{
	color:white ;
	font-family: arial;
font-weight: revert-layer;
}
.ulsite li{
color: rgb(255 84 0);
 list-style-type: none;
 height: 35.4px;
 font-size: 15px;
 font-family: arial;
 font-weight: lighter;
 cursor: pointer;
}
.Contact{
display: inline-block;
	vertical-align: top;
	margin-top: 78px;
	margin-left: 128px;
}
.honecontact{
	color:white ;
	font-family: arial;
font-weight: revert-layer;
margin-left: 39px;
}
.ulcontact li{
color: rgb(255 84 0);
 list-style-type: none;
 height: 35.4px;
 font-size: 15px;
 font-family: arial;
 font-weight: lighter;
 cursor: pointer;
}
.keep{
	display: inline-block;
	vertical-align: top;
	margin-top: 78px;
	margin-left: 128px;
}
.platforms{
color: white;
}
.ulkeep{
display: inline-block;
vertical-align: top;
padding-left: 0px;
}
.ulkeep li{
display: inline-block;
vertical-align: top;
width: 40px;
height: 30.4px;
color: rgb(255 84 0);
font-size: 35px;
cursor: pointer;
color: inherit;
}
/*############################################# end footer*/
a.scrol{
	position: absolute;
	right: 1%;
	bottom: 1%;
	color:rgb(255 84 0);
	font-size: 60px;
	  border: 1px solid rgb(255 84 0);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 1%;
  background: rgb(0 20 54);
  bottom: 0px;
top: 2584px;
right: 25.183px;
transition: 0.5s all ease-in;
}
a.scrol:hover{
	 background: rgb(255 84 0);
	 color:rgb(0 20 54);
	  border: 1px solid rgb(0 20 54);
}
/*####################*/
.freemoto{
	position: absolute;
  font-size: 293px;
  position: absolute;
  color: rgba(0, 24, 54, 0.06);
  right: 0%;
  top: 1786px;
left: 88px;
font-size: 405px;
}

/*###################end home*/
/*#########start login#############*/
.headerlogin{
margin: 0 auto;

}
.imglogo{
	margin-left: 660px;
}
.loginsec{
	background-image: url(../images/cover.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
}
.divlogin{
	background: #222222f7;
	height: 600px;
}
.divletter{
	background: rgb(255 84 0);
	width: 40%;
	margin: 0 auto;
	border: none;
	border-radius: 20px;
	padding: 1%;
	box-shadow: 1px 1px 10px 1px rgb(255 84 0);
}
span{
	font-size: 23px;
font-family: arial;
font-weight: lighter;
color: white;
}
.honewelcomlogin{
width: 444.267px;
font-size: 23px;
font-family: arial;
font-weight: lighter;
margin: 0 auto;
color: rgb(0 20 54);
margin-top: 54px;
}
.firstname{
	width: 220px;
height: 39px;
margin-top: 50px;
border: none;
border-bottom: 1px solid rgb(0 20 54);
background: transparent;
color:rgb(0 20 54) ;
display: inline-block;
vertical-align: top;
margin-left: 40px;
}
.firstname:hover{
	outline: none;
}
.lastname{
	width: 220px;
height: 39px;
margin-top: 50px;
border: none;
border-bottom: 1px solid rgb(0 20 54);
background: transparent;
color:rgb(0 20 54) ;
display: inline-block;
vertical-align: top;
margin-left: 57px;
}
.lastname:hover{
		outline: none;
}
.email{
width: 510px;
height: 39px;
margin-top: 22px;
border: none;
border-bottom: 1px solid rgb(0 20 54);
background: transparent;
color:rgb(0 20 54) ;
display: inline-block;
vertical-align: top;
margin-left: 40px;
}
.email:hover{
	outline: none;	
}
.mobile{
	width: 510px;
height: 39px;
margin-top: 22px;
border: none;
border-bottom: 1px solid rgb(0 20 54);
background: transparent;
color:rgb(0 20 54) ;
display: inline-block;
vertical-align: top;
margin-left: 40px;
}
.mobile:hover{
	outline: none;
}
.pass{
		width: 510px;
height: 39px;
margin-top: 22px;
border: none;
border-bottom: 1px solid rgb(0 20 54);
background: transparent;
color:rgb(0 20 54) ;
display: inline-block;
vertical-align: top;
margin-left: 40px;
}
.pass:hover{
	outline: none;	
}
select{
			width: 510px;
height: 39px;
margin-top: 22px;
border: none;
border-bottom: 1px solid rgb(0 20 54);
background: transparent;
color:rgb(0 20 54) ;
display: inline-block;
vertical-align: top;
margin-left: 40px;
}
select:hover{
	outline: none;	
}
.signin{
margin-top: 53px;
width: 210px;
margin-left: 185px;
height: 42px;
font-size: 20px;
font-family: arial;
font-weight: lighter;
background: rgb(0 20 54);
color: rgb(255 84 0);
border: none;
border-radius: 13px;
cursor: grab;
margin-bottom: 50px;
}
.signin:hover{
	box-shadow: 1px 1px 9px 1px rgb(0 20 54);
}